body{
    background-color: #002E94;
    font-family: Arial;
    font-size: 1.25rem;
    color:#E1CeB5 ;
}
a:link{
    color: #E1CEB5;
}
a:visited{
    color: #E1CEB5;
}
a:hover{
    color: #FFE7CC;
}
.profilePic{
    border-radius: 50%;
    height: 400px;
    width: 400px;
}
.profileAlignment{
    padding-left: 20%;
    padding-right: 20%;
}
.centerTable{
    margin-left: auto;
    margin-right: auto;
}
.linkCells{
    padding: 10px;
}
.infoAlignment{
    margin-left: auto;
    margin-right: auto;
}
.headOneAlign{
    text-align: center;
}
ol{
    list-style-type: upper-roman;
}
.olLevelTwo{
    list-style-type: lower-roman;
}